
<section id="dealers">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 col-xs-9" style="margin-bottom:40px;">
        <h1>CORIMA Dealers</h1>
        <p>You'll find a good selection, expert knowledge and service at these Corima dealers. If you do not have a dealer near you can contact us directly.</p>

        <div class="row">
          <div class="col-md-4">
            <p><strong>Gilles Lalonde</strong><br />
          Email: <%= mail_to 'corimausa@gmail.com', 'corimausa@gmail.com' %><br />
          TEL: +1 (978) 844-1801 </p>
          </div>
          <div class="col-md-4">
            <p><strong>André Gingras - ARG sports inc.</strong><br />
            Email: <%= mail_to 'argingras@videotron.ca', 'argingras@videotron.ca' %><br />
            WEB: <%= link_to 'http://www.arg-sports.com', 'http://www.arg-sports.com' %> </p>
          </div>

        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 dealer">
        <strong>ATA CYCLES, MA</strong> - 
        <strong>DEMO CENTER</strong><br />
        93 THOREAU ST<br />
        CONCORD MA 01742<br />
        978-369-5960<br />
        CORIMA EXPERT: HUSAM, ANIL<br />
        <%= link_to 'WWW.ATABIKE.COM', 'http://www.atabike.com' %>
      </div>
     
      <div class="col-md-4 col-sm-6 dealer">
        <strong>CONTENDER BICYCLES UT</strong><br />
        989 EAST 900 SOUTH<br />
        SALT LAKE CITY, UT 84105<br />
        801-364-0344<br />
        CORIMA EXPERT: RYAN, ALISON<br />
        <%= link_to 'WWW.CONTENDERBICYCLES.COM', 'http://www.contenderbicycles.com' %>        
      </div>
      <div class="col-md-4 col-sm-6 dealer">
        <strong>TWO HUBS BICYCLES, CA</strong><br />
        27231 BURBANK #201<br />
        FOOTHILL RANCH CA 92610<br />
        877-480-2453<br />
        CORIMA EXPERT: MANI<br />
        <%= link_to 'WWW.TWOHUBS.COM', 'http://www.twohubs.com' %>        
      </div>

      <div class="col-md-4 col-sm-6 dealer">
        <strong>RED LANTERN CYCLES, CA</strong><br />
        640 Menlo Park<br />
        Menlo Park CA 94025<br />
        650-853-3051<br />
        CORIMA EXPERT: MATT<br />
        <%= link_to 'WWW.REDLANTERNCYCLES.COM', 'http://www.redlanterncycles.com' %>
      </div>
    </div>


  </div>
</section>

<%= render 'shared/cyclingceramic' %>
