
<section id="dealers">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 col-xs-9">
        <h1>CORIMA Dealers</h1>
        <p>You'll find a good selection, expert knowledge and service at these Corima dealers. If you do not have a dealer near you can contact us directly.</p>

        <p>Gilles Lalonde<br />
          Email: <%= mail_to 'corimausa@gmail.com', 'corimausa@gmail.com' %><br />
          TEL: +1 (978) 844-1801 </p>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 dealer">
        <strong>ATA CYCLES, MA</strong><br />
        93 THOREAU ST<br />
        CONCORD MA 01742<br />
        978-369-5960<br />
        CORIMA EXPERT: HUSAM, ANIL<br />
        <%= link_to 'WWW.ATABIKE.COM', 'http://www.atabike.com' %>
      </div>
      <div class="col-md-4 col-sm-6 dealer">
        <strong>SIGNATURE CYLES, CT</strong><br />
        14 RAILROAD AVE<br />
        GREEWICH, CT 06830<br />
        203-485-0500<br />
        CORIMA EXPERT: JUSTIN<br />
        <%= link_to 'WWW.SIGNATURECYCLES.COM', 'http://www.signaturecycles.com' %>        
      </div>
      <div class="col-md-4 col-sm-6 dealer">
        <strong>SIGNATURE CYLES, CT</strong><br />
        131 VARICK<br />
        NEW YORK, NY 10013<br />
        212-706-0025<br />
        CORIMA EXPERT: BLAKE<br />
        <%= link_to 'WWW.SIGNATURECYCLES.COM', 'http://www.signaturecycles.com' %>        
      </div>
      <div class="col-md-4 col-sm-6 dealer">
        <strong>CONTENDER BICYCLES UT</strong><br />
        989 EAST 900 SOUTH<br />
        SALT LAKE CITY, UT 84105<br />
        801-364-0344<br />
        CORIMA EXPERT: RYAN, ALISON<br />
        <%= link_to 'WWW.CONTENDERBICYCLES.COM', 'http://www.contenderbicycles.com' %>        
      </div>
      <div class="col-md-4 col-sm-6 dealer">
        <strong>TWO HUBS BICYCLES, CA</strong><br />
        27231 BURBANK #201<br />
        FOOTHILL RANCH CA 92610<br />
        877-480-2453<br />
        CORIMA EXPERT: MANI<br />
        <%= link_to 'WWW.TWOHUBS.COM', 'http://www.twohubs.com' %>        
      </div>
      <div class="col-md-4 col-sm-6 dealer">
        <strong>FITWERX, VT</strong><br />
        4312 MAIN STREET<br />
        WAITSFIELD, VT 05673<br />
        802-496-7570<br />
        CORIMA EXPERT: BRUCE, IAN<br />
        <%= link_to 'WWW.FITWERX.COM', 'http://www.fitwerx.com' %>
      </div>
      <div class="col-md-4 col-sm-6 dealer">
        <strong>FITWERX, MA</strong><br />
        67 FOSTER STREET<br />
        PEABODY MA 01960<br />
        978-532-7348<br />
        CORIMA EXPERT: GEOFF, MARTY<br />
        <%= link_to 'WWW.FITWERX.COM', 'http://www.fitwerx.com' %>
      </div>
      <div class="col-md-4 col-sm-6 dealer">
        <strong>FITWERX, NJ</strong><br />
        424 TEANECK ROAD<br />
        RIDGEFIELD PARK, NJ 07660<br />
        201-440-2025<br />
        CORIMA EXPERT: JOE<br />
        <%= link_to 'WWW.FITWERX.COM', 'http://www.fitwerx.com' %>
      </div>
      <div class="col-md-4 col-sm-6 dealer">
        <strong>BICYCLE RECORD, PQ CANADA</strong><br />
        1109 ROUTE DE L'EGLISE<br />
        QUEBEC, QC G1V3W3<br />
        418-653-9652<br />
        CORIMA EXPERT: JEAN PHILIPPE<br />
        <%= link_to 'WWW.BICYCLESRECORD.COM', 'http://www.bicyclesrecord.com' %>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/cyclingceramic' %>
