
<section id="dealers">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-xs-9" style="margin-bottom:40px;">
        <h1>Canadian Distributor - ARG sports inc.</h1>
        <p>CORIMA wheels and wheel accessories are now available in Canada. We'll have a listing of our Canadian dealers available here soon. If you are interested in CORIMA wheels or interested in becoming a CORIMA dealer please contact ARG sports inc.</p>

        <div class="row">

          <div class="col-md-5">
            <p><strong>André Gingras - ARG sports inc.</strong><br />
            Email: <%= mail_to 'argingras@videotron.ca', 'argingras@videotron.ca' %><br />
            WEB: <%= link_to 'http://www.arg-sports.com', 'http://www.arg-sports.com' %> </p>
          </div>

        </div>
      </div>

    </div>


    <div class="row">
      <div class="col-md-4 col-sm-6 dealer">
        <strong>BICYCLE RECORD</strong><br />
        1109 ROUTE DE L'EGLISE<br />
        QUEBEC, QC, CANADA<br />
        G1V3W3<br />
        T: 1 (418) 653-9652<br />
        E: <a href="mailto:info@bicyclesrecord.com">info@bicyclesrecord.com</a><br />
        W: <%= link_to 'WWW.BICYCLESRECORD.COM', 'http://www.bicyclesrecord.com' %><br />
        CORIMA EXPERT: JEAN PHILIPPE
        
      </div>
      <div class="col-md-4 col-sm-6 dealer">
        <strong>X CYCLE</strong><br />
        695 CHEM AVILA<br />
        ST-SAUVEUR, QC CANADA<br />
        J0R 1R3<br />
        T : 1 (450) 227-8356<br />
        E : <a href="mailto:apouliot@donalcoimpressions.com">apouliot@donalcoimpressions.com</a><br />
        W : <%= link_to 'xcycle.ca', 'http://xcycle.ca' %>
      </div>      
      <div class="col-md-4 col-sm-6 dealer">
        <strong>THE CYCLERY</strong><br />
        1115 BANK ST<br />
        OTTAWA, ON, CANADA<br />
        K1S 3X4<br />
        T: 1 (613) 695-9253<br />
        E: <a href="mailto:thecyclery@rogers.com">thecyclery@rogers.com</a><br />
        W: <%= link_to 'thecyclery.ca', 'http://thecyclery.ca' %><br />
        
      </div>
    </div>


  </div>
</section>

<%= render 'shared/cyclingceramic' %>
