<%#= render '/refinery/content_page' violet red yellow blue %>
<% @bg_colors = ["gray"] %>
<% @bg_image = @bg_colors.sample %>
<% @rand_offset_num = rand(5...95) %>
<% @rand_color_num = rand(1...7) %>

<style>
  #home-wheels {
    background-image:url(/assets/bg-<%= @rand_color_num %>-<%= @bg_image %>.gif);
    background-position-x:<%= @rand_offset_num %>%;
  }
</style>


<section id="home-main">
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-12">
      <h1>Welcome to Corima USA</h1>
      <%#= image_fu @mcc_splus_wheels.first.wheel_image_1, '125x125c' %>
      <%#= image_fu @mcc_splus_wheels.first.wheel_image_1, '125x125c' %>
      <%#= image_fu @mcc_splus_wheels.first.wheel_image_1, '125x125c' %>
      <%#= image_fu @mcc_splus_wheels.first.wheel_image_1, '125x125c' %><%#= image_fu @mcc_splus_wheels.first.wheel_image_1, '250x250c' %>
    </div>
    <div class="col-md-6">


    </div>
  </div>
</div>
</section>

<section id="home-wheels">
  <div class="container">
    <div class="row">
      <div class="col-12-lg">
        <h2>Our 2015 Collection</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <%= image_fu @mcc_random.wheel_image_1, "960x1280", class: 'img-responsive' %>
        <h5>CORIMA MCC S+</h5>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= image_fu @splus_random.wheel_image_1, "960x1280", class: 'img-responsive' %>
        <h5>CORIMA S+</h5>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= image_fu @s_random.wheel_image_1, "960x1280", class: 'img-responsive' %>
        <h5>CORIMA S</h5>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= image_fu @no_s_random.wheel_image_1, "960x1280", class: 'img-responsive' %>
        <h5>CORIMA</h5>
      </div>
      </div>
    </div>
  </div>
  </section>

