<%#= render '/refinery/content_page' violet red yellow blue %>
<% @bg_colors = ["gray"] %>
<% @bg_image = @bg_colors.sample %>
<% @rand_offset_num = rand(5...95) %>
<% @rand_color_num = rand(11...17) %>

<style>
  #home-wheels {
    /*background-image:url(/assets/bg-<%= @rand_color_num %>-<%= @bg_image %>.gif);
    background-position-x:110%;*/
  }
</style>


<section id="home-main">
<div class="container">
  <div class="row">

    <div class="col-md-5">      
      <h1><span>Welcome to Corima USA</span></h1>
      <h3><a href="/canadian-distributor">Click here for our Canadian distributor</a> <a href="/canadian-distributor">
        <img src="/assets/blank.gif" class="flag flag-ca" /></a></h3>
    </div>
    <div class="col-md-7">
      <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EExKuNKMOyQ?rel=0"></iframe>
      </div>
    </div>
    

  </div>
</div>
</section>

<section id="home-wheels">
  <div class="container">
    <div class="row">
      <div class="col-12-lg">
        <h2>Our 2015 Collection</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <%= link_to (image_fu @mcc_random.wheel_image_1, "960x1280", class: 'img-responsive'), '/corima-mcc-s-plus' %>
        <h5><%= link_to 'CORIMA MCC S+', '/corima-mcc-s-plus' %> </h5>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= link_to (image_fu @splus_random.wheel_image_1, "960x1280", class: 'img-responsive'), '/corima-s-plus' %>
        <h5><%= link_to 'CORIMA S+', '/corima-s-plus' %></h5>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= link_to (image_fu @s_random.wheel_image_1, "960x1280", class: 'img-responsive'), '/corima-s' %>
        <h5><%= link_to 'CORIMA S', '/corima-s' %></h5>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= link_to (image_fu @no_s_random.wheel_image_1, "960x1280", class: 'img-responsive'), '/corima' %>
        <h5><%= link_to 'CORIMA', '/corima' %></h5>
      </div>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/cyclingceramic' %>


