<% @bg_colors = ["gray"] %>
<% @bg_image = @bg_colors.sample %>
<% @rand_offset_num = rand(5...95) %>
<% @rand_color_num = rand(11...17) %>

<style>
  #l2-wheels {
    /*background-image:url(/assets/bg-<%= @rand_color_num %>-<%= @bg_image %>.gif);*/
    /*background-position-x:<%= @rand_num %>%;*/
  }
</style>

<section id="l2-wheels-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>CORIMA MCC S+</h1>
        <p>The MCC “S+” wheels are the lightest in our product range! The MCC “S+” wheels are available in 24 mm, 32 mm and 47 mm in tubular version and <span>(new!)</span> the 47 mm model is now also available in clincher version!! They are built with the very light carbon “S+” hubs on which the CORIMA logo is engraved. The wheels are made entirely of carbon from the rims to the hubs and spokes. The front wheel has 12 blade shaped spokes for better aerodynamics while the rear wheel has 12 conical shaped spokes for increased stiffness. Each wheel is supplied with a titanium skewer with a carbon lever displaying the CORIMA logo. 8 different wheel decal colours are available in order to match your MCC “S+” wheels to your frame color.</p>
      </div>
    </div>
  </div>
</section>


<section id="l2-wheels">
  <div class="container">

    <div class="row">
      <% @mcc_splus_wheels.each do |w| %>
        <div class="col-md-3 col-xs-6 text-center l2-wheel">
          <%= link_to (image_fu w.wheel_image_1, '400x400', class: 'img-responsive'), wheels_wheel_path(w) %>
          <p><%= link_to w.name, wheels_wheel_path(w) %></p>
        </div>
      <% end %>
    </div>
  </div>
</section>

<%= render 'shared/skewers' %>

<%= render 'shared/cyclingceramic' %>
