<% @bg_colors = ["gray"] %>
<% @bg_image = @bg_colors.sample %>
<% @rand_offset_num = rand(5...95) %>
<% @rand_color_num = rand(11...17) %>

<style>
  #l2-wheels {
/*    background-image:url(/assets/bg-<%= @rand_color_num %>-<%= @bg_image %>.gif);*/
    /*background-position-x:<%= @rand_num %>%;*/
  }
</style>
<section class="l2-wheels-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>CORIMA S+</h1>
        <p>The “S+” wheels combine lightness and beauty ! The “S+” wheels are available in 32 mm and 47 mm in tubular or clincher versions. They are built with the very light carbon “S+” hubs on which the CORIMA logo is engraved. The front wheel has 18 black CX-Ray “straight-pull” spokes and the rear wheel has 20 CX/CX-Ray. Each wheel is supplied with a titanium skewer with a carbon lever displaying the CORIMA logo. 8 different wheel decal colors are available in order to match your “S+” wheels to your frame color.</p>
      </div>
    </div>
  </div>
</div>


<section id="l2-wheels">
<div class="container">
    <div class="row">
      <% @splus_wheels.each do |w| %>
        <div class="col-md-3 col-xs-6 text-center l2-wheel">
          <%= link_to (image_fu w.wheel_image_1, '400x400', class: 'img-responsive'), wheels_wheel_path(w) %>
          <p><%= link_to w.name, wheels_wheel_path(w) %></p>
        </div>
      <% end %>
    </div>
  </div>
</section>

<%= render 'shared/wheel_colors' %>

<%= render 'shared/skewers' %>

<%= render 'shared/cyclingceramic' %>
