
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul>
        <li><%= link_to 'HOME', '/' %></li>
        <li><%= link_to 'ABOUT CORIMA', '/about-corima' %></li>
        <li><%= link_to 'DEALERS', '/dealers' %></li>
        <li><%= link_to 'CONTACT', '/contact' %></li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul>
        <li><%= link_to 'CORIMA MCC S+', '/corima-mcc-s-plus' %></li>
        <li><%= link_to 'CORIMA S+', '/corima-s-plus' %></li>
        <li><%= link_to 'CORIMA S', '/corima-s' %></li>
        <li><%= link_to 'CORIMA', '/corima' %></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-4">
      <h3>DEALER INQUIRIES</h3>
      <p>CORIMA NORTH AMERICA<br />
          Lalonde Imports<br />
          Boston, MA<br />
          <%= mail_to 'corimausa@gmail.com', 'corimausa@gmail.com' %><br />
          TEL +1 978 844 1801</p>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center col-sm-4 col-sm-offset-0 col-xs-5 col-xs-offset-1">
      <%= image_tag 'made-in-france.png', class: 'img-responsive' %>
      <a href="https://www.facebook.com/corimausa"><span class="fa fa-facebook-official fa-2x"></span> </a> 
      <a href="http://instagram.com/corimausa"><span class="fa fa-instagram fa-2x"></span></a>
      <a href="#"><span class="fa fa-twitter-square fa-2x"></span></a>

    </div>
    <div class="col-md-2 col-sm-3 col-sm-offset-1 col-xs-4 col-xs-offset-1">
      <%= image_tag '40anniversary.png', class: 'img-responsive' %>
    </div>

  </div>
  <div class="col-md-12 text-center" id="copyright">
    <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
                      - <%= render 'shared/buy_btn' %>
  </div>
  
</div>


