<!-- <h1 id='logo'>
  <%#= link_to Refinery::Core.site_name, refinery.root_path %>
</h1> -->
<%#= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>

<nav class="nav navbar navbar-default" role="navigation">
  <div class="container" style="">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag 'CORIMA-LOGO-no-tag.png', width: '200' %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%# presenter = Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self) %>
      <%# presenter.max_depth = 1 %>
      <%#= presenter.to_html %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'HOME', root_path %></li>
        <li><%= link_to 'ABOUT CORIMA', '/about-corima' %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">WHEELS <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'CORIMA MCC S+', '/corima-mcc-s-plus' %></li>
            <li><%= link_to 'CORIMA S+', '/corima-s-plus' %></li>
            <li><%= link_to 'CORIMA S', '/corima-s' %></li>
            <li><%= link_to 'CORIMA', '/corima' %></li>
          </ul>
        </li>
        <li><%= link_to 'DEALERS', '/dealers' %></li>
        <li><%= link_to 'CONTACT US', '/contact-us' %></li>

      </ul>
    </div>
  </div>
</nav>
